<div class="row">
  <div class="col-md-12">
    <img [src]="singleRecipe.imagePath" alt="{{singleRecipe.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="div col-md-12">
    <h1 *ngIf="singleRecipe">{{singleRecipe?.name}}</h1>
    <h1 *ngIf="!singleRecipe">Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" 
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown">Manage Recipe</button>

      <ul class="dropdown-menu">
        <li class="dropdown-item">
          <a style="cursor: pointer;" (click)="addIngredientsToShopList(singleRecipe.ingredients)">add ingredients to shopping list</a>
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;" (click)="onEditRecipe()">edit recipe</a>
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;" (click)="onDeleteRecipe()">delete recipe</a>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span>Description:</span>
    <div *ngIf="singleRecipe">
        {{singleRecipe?.description}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of singleRecipe.ingredients" class="list-group-item">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>